@font-face {
	font-family: 'museo';
	src: url('../fonts/Thin.eot');
	src: local('☺'), url('../fonts/Thin.woff') format('woff'), url('../fonts/Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'museo';
	src: url('../fonts/Light.eot');
	src: local('☺'), url('../fonts/Light.woff') format('woff'), url('../fonts/Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'museo';
	src: url('../fonts/Medium.eot');
	src: local('☺'), url('../fonts/Medium.woff') format('woff'), url('../fonts/Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'museo';
	src: url('../fonts/Bold.eot');
	src: local('☺'), url('../fonts/Bold.woff') format('woff'), url('../fonts/Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'museo';
	src: url('../fonts/Black.eot');
	src: local('☺'), url('../fonts/Black.woff') format('woff'), url('../fonts/Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
